<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="application.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
</head>
<body>


  <%= yield %>


  <p id="footer">Made with <i class="fa fa-heart"></i> at Le Wagon Montréal</p>
  <script type="text/javascript" src="application.js"></script>
</body>
</html>
